html, body {
  background-color: #a9d7d1;
  text-align: center;
  font-family: 'Raleway', Helvetica, sans-serif;
  min-width: 320px;
}
/* .form-container{
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    background: pink;
} */
.checkbox-container{
    text-align: start;
}
.check-item {
    /* padding-left: 10px; */
    margin-left:.75em;
    /* display: block; */
}
.check-item-text {
    margin-left: 1em;
}
.form-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: row;
    justify-content: center;
    background: green;
    max-width: 800px;
    margin: 0 auto;
}
.labels{
    background: pink;
    text-align:end;
}
.form-text-inputs{
    background:blue;
}
.form-number-inputs{
    background: lightgreen;
}
.form-email-inputs{
    background: yellow;
}
.form-selector{
    background: red;
}
.form-radio-inputs{
    color:purple;
    background: orangered;
    display: flex;
    flex-direction: column;
}
.radio-row{
    display:flex;
    flex-direction: row;
}
/* form{
    background: pink;
} */